@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  src: local("Manrope"), local("Manrope-Light"),
    url("../fonts/Manrope-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: local("Manrope"), local("Manrope-Regular"),
    url("../fonts/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: local("Manrope"), local("Manrope-Medium"),
    url("../fonts/Manrope-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: local("Manrope"), local("Manrope-SemiBold"),
    url("../fonts/Manrope-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: local("Manrope"), local("Manrope-Bold"),
    url("../fonts/Manrope-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: local("Manrope"), local("Manrope-ExtraBold"),
    url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
}
