/* Colors */
$primary: #f26535;
$text: #232156;
$blue: #3579ff;
$pressed: #193b68;
$bg: #fafbfe;
$table-head: rgba(21, 59, 104, 0.05);
$a-bg: rgba(21, 59, 104, 0.05);
$green: #40c49c;
$red: #ff5a65;
$yellow: #ffc833;
$grey: #848b9e;
$border: #cfd1e0;

/* Sizes */
$header-height: 80px;
$header-height-mobile: 60px;
$gutter-small: 12px;
$gutter: 16px;
$gutter-large: 40px;
$radius: 5px;
$breakpoint: 960px;
$breakpoint-large: 1024px;
