@import "./styles/material-icons.scss";
@import "./styles/mixins";
@import "./styles/variables";
@import "./styles/material-icons";
@import "./styles/reboot.scss";
@import "./styles/components";
@import "./styles/fonts.scss";

#root {
  background-color: $bg;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.type {
  display: inline-block;
  height: 33px;
  padding: 0 15px;
  border-radius: 30px;

  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 33px;
  letter-spacing: 0.5px;
  vertical-align: middle;

  color: $primary;
  background-color: rgba($primary, 0.05);

  @media (max-width: $breakpoint) {
    font-size: 10px;
  }
}
